<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>YOUR BEAUTIFUL DOGGO'S NAME'O'S</h1>
   <h2> <%= dog_breed.retriever.name2 %> </h2>
    <h2> <%= dog_breed.chihuaua.name1 %> </h2>

</body>
</html>