<!DOCTYPE html>
<html lang="en">
<%- include('partials/main_head.ejs') %>
<body>
    <h1>Welcome To Awesomesite.com</h1>
    <div style="margin-top: 12rem;">
    <p>This is <%= userName %>'s page! </p>
    </div>   
</body>
</html>